.body {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: red;
    height: 100%;
  }
  .login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
  }

  .ancho {
    width: 80%;
  }

  .spinner{
    margin: 0 auto;
  }

  mat-label{
    background-color: #000000;
  }