<div class="container">
    <mat-toolbar>
      <span>{{textPantalla}}</span>
    </mat-toolbar>

</div>
<div class="contenido">
    <mat-card style="margin-top: 10px;" style="text-align: left;">
        <form [formGroup]="form">
            <mat-form-field >
                <mat-label>Cedula Identidad</mat-label>
                <input matInput #input maxlength="10" placeholder="9999" autocomplete="off" formControlName="cedula">
            </mat-form-field>
            <br>
            <mat-form-field >
                <mat-label>Chofer Actual</mat-label>
                <input matInput #input maxlength="200" placeholder="Chofer Actual" autocomplete="off"  formControlName="choferActual" >
            </mat-form-field>
            <br>
            <mat-form-field >
                <mat-label>Tipo Licencia</mat-label>
                <input matInput #input maxlength="100" placeholder="Tipo Licencia" autocomplete="off" formControlName="tipoLicencia" >
            </mat-form-field>
            <br>
            <mat-form-field >
                <mat-label>Fec Nacimiento</mat-label>
                <input matInput #input maxlength="200" placeholder="Fec Nacimiento" autocomplete="off"  formControlName="fechaNacimiento" >
            </mat-form-field>
            <br>
            <mat-form-field  >
                <mat-label>Fec Vencimiento Licencia</mat-label>
                <input matInput #input maxlength="200"  placeholder="Fec Vencimiento Licencia" autocomplete="off" formControlName="fechaVencimientoLicencia">
            </mat-form-field>
            <br>

            <mat-form-field>
                <mat-select formControlName="estado"  placeholder="Selecciones un estado">
                        <mat-option *ngFor="let estado of listaEstados" 
                            [value]="estado._id">
                            {{estado.nombre}}
                  </mat-option>
               </mat-select>
             </mat-form-field>

              <br>

            <br><br>
            <button mat-raised-button color="warn" routerLink="/dashboard/chofer" routerLinkActive="router-link-active" >Regresar</button>
            <span *ngIf="isInsertar">
                <button style="margin-left: 20px;" mat-raised-button color="primary" type="submit" [disabled] = "form.invalid" (click)="saveChofer()">Guardar Usuario</button>
            </span>
            <span *ngIf="!isInsertar">
                <button style="margin-left: 20px;" mat-raised-button color="primary" type="submit" [disabled] = "form.invalid" (click)="modificarChofer()">Modificar Usuario</button>
            </span>
            
        </form>
    </mat-card>
</div>
