  <div class="container">
    <mat-toolbar color="primary">
      <span>Flash Car</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/dashboard/inicio">Nosotros</button>
      <button mat-button routerLink="/dashboard/login">Login</button>
      <button mat-button routerLink="/dashboard/vehiculo">Registrese</button>
      <button mat-button routerLink="/dashboard/contactenos">Contactenos</button>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-toolbar>

      <span>Nosotros</span>

    </mat-toolbar>

  </div>