<mat-toolbar color="primary">
    <span>Flash Car</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard/inicio">Nosotros</button>
    <button mat-button routerLink="/dashboard/crearUsuario">Registrese</button>
    <button mat-button routerLink="/dashboard/usuario">Usuario</button>
    <button mat-button routerLink="/dashboard/solicitarVehiculo">Solicitud Vehiculo</button>
    <button mat-button routerLink="/dashboard/vehiculo">Vehiculo</button>
    <button mat-button routerLink="/dashboard/chofer">Choferes</button>
    <button mat-button routerLink="/dashboard/reportes">Reportes</button>
    <button mat-button routerLink="/dashboard/maps">Maps</button>
    <button mat-button routerLink="/dashboard/contactenos">Contactenos</button>
    <button mat-button routerLink="/dashboard/login">Login</button>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  