<mat-toolbar color="primary">
    <span>Flash Car</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="">Dashboard</button>
    <button mat-button routerLink="">Facturas</button>
    <button mat-button routerLink="">Estados</button>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  