<div class="container">
    <mat-toolbar>
      <span>Chofer</span>
    </mat-toolbar>

</div>
<div class="contenido">
  <br>
  <button mat-raised-button color="primary" routerLink="/dashboard/crearChofer" routerLinkActive="router-link-active" >Agregar Chofer</button>

  <div  *ngIf="listaChofer.length==0">
      <p>No existen datos para mostrar</p>
  </div>

  <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ejm. Cristhian" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="cedula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Núm Cedula</th>
        <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
      </ng-container>

      <ng-container matColumnDef="choferActual">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Chofer Actual</th>
        <td mat-cell *matCellDef="let element"> {{element.choferActual}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="tipoLicencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Licencia </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoLicencia}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="fechaNacimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fec Nacimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="fechaVencimientoLicencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fec Vencimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaVencimientoLicencia}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Acciones </th>
          <td mat-cell *matCellDef="let element" style="text-align: right;"> 
              <a  (click)="modificarChofer(element);">
                  <mat-icon
                  mat-raised-button #tooltip="matTooltip"
                  matTooltip="Editar información"
                  class="cursorPointer" style="color: #d49c18;">edit</mat-icon>
              </a>
              <a (click)="eliminarChofer(element);"> 
                  <mat-icon 
                  mat-raised-button #tooltip="matTooltip"
                  matTooltip="Eliminar información"
                  class="cursorPointer" style="color: #af1313;">delete</mat-icon>
              </a>
          </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>